<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ListEvents SYSTEM "events.dtd">
<ListEvents>
	<Event nom="Casse" description="cest un test" archetype="Mort" occurence="-1" probabilite="15">
		<default>
			<modifPlayer argent="50"/>
		</default>
	</Event>
	<Event nom="Machin" description="cest un test" archetype="Passion" occurence="-1" probabilite="5">
		<default>
			<modifEvent>
				<eventM nom="Casse" probabilite="-5"/>
			</modifEvent>
		</default>
	</Event>
</ListEvents>