<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ListEvents SYSTEM "events.dtd">
<ListEvents>
	<Event nom="" description="" archetype="" date="" occurence="" probabilite="">
		<joursRestantsProbaAjoutee jRestants="" probaAjoutee="" />
		<default>
			<modifEvent>
				<eventM nom="" date="" occurence="" probabilite=""/>
			</modifEvent>
			<modifObjet>
				<objet nom="" dispo="" cout="" durabilite="">
					<upgrade argentJ="" savoirJ="" faimJ="" fatigueJ="" bonheurJ="" tempsLibreJ=""/>
				</objet>
			</modifObjet>
			<modifPlayer argent="" savoir="" faim="" fatigue="" bonheur="" argentJ="" savoirJ="" faimJ="" fatigueJ="" bonheurJ="" gainParMois="" loyer="" tempsLibre="" tempsLibreJ=""/>
		</default>
		<choix nom="" noDefault="">
			<modifEvent>
				<eventM nom="" date="" occurence="" probabilite=""/>
			</modifEvent>
			<modifObjet>
				<objet nom="" dispo="" cout="" durabilite="">
					<bonus savoir="" faim="" fatigue="" bonheur="" tempsLibre=""/>
				</objet>
			</modifObjet>
			<modifPlayer argent="" savoir="" faim="" fatigue="" bonheur="" argentJ="" savoirJ="" faimJ="" fatigueJ="" bonheurJ="" gainParMois="" loyer="" tempsLibre="" tempsLibreJ=""/>
		</choix>
		<choix nom="" noDefault="">
			<modifPlayer argent="" savoir="" faim="" fatigue="" bonheur="" argentJ="" savoirJ="" faimJ="" fatigueJ="" bonheurJ="" gainParMois="" loyer="" tempsLibre="" tempsLibreJ=""/>
		</choix>
	</Event>
</ListEvents>